h1 {
    color: #0066FF;
    font-size: 4.5em;
    font-family: "Verdana", "Arial", sans-serif;
}

body {
    background-color: #020202;
}

p {
    color: #0066FF;
    font-size: 3em;
    font-family: "Verdana", "Arial", sans-serif;
}
